@page
@model treinamento.Pages.Clients.DeleteModel
@{
    ViewData["Title"] = "Deletar Cliente";
}

<h3>Tem certeza que deseja deletar a conta @Model.cliente.name?</h3>

<span>
    <form method="post">
        <input type="hidden" name="id" value="@Model.cliente.Id">
        <input class='btn btn-primary' type="submit" value="Confirmar">
        <a class='btn btn-danger' href="/Clients">Cancelar</a>
    </form>
</span>