@page
@model Site_Aspnet.Pages.Clients.index
@{
    ViewData["Title"] = "Clientes";
}
<h1>@ViewData["Title"]</h1>

<button class="button1" style="margin-left: 5%;">Novo Cliente</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>TELEFONE</th>
            <th>EMAIL</th>
            <th>ENDEREÇO</th>
            <th>CRIADO EM</th>
            <th>AÇÃO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
        </tr>
        <tr>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
            <td>TESTE</td>
        </tr>
    </tbody>
</table>
