@page
@model IndexModel
@{
    ViewData["Title"] = "Reparação e construção de casas";
}

<article>

    <section class="col banner">
        <span style="width: 601px; padding: 200px 0px 0px 100px">
            <div>
                <h4 class="Roboto texto-tipo1"><span>CONSERTO DE<br>CASA</span></h4>
                <h1 class="texto-tipo2"><span>SERVIÇOS</span></h1>
            </div>

            <span class="row" style="padding-top: 30px; width: 500px; justify-content: space-between;">
                <div class="col center">
                    <img width="80px" height="80px" src="~/img/Quadro.png" />
                    <h4 class="Roboto" style="padding-top: 30px; font-size: 20px; font-weight: 200; color: white;">
                        <span>QUADRO</span>
                    </h4>
                </div>

                <div class="col center">
                    <img width="80px" height="80px" src="~/img/Limpeza.png" />
                    <h4 class="Roboto" style="padding-top: 30px; font-size: 20px; font-weight: 200; color: white;">
                        <span>LIMPEZA</span>
                    </h4>
                </div>

                <div class="col center">
                    <img width="80px" height="80px" src="~/img/Encanamento.png" />
                    <h4 class="Roboto" style="padding-top: 30px; font-size: 20px; font-weight: 200; color: white;">
                        <span>ENCANAMENTO</span>
                    </h4>
                </div>
            </span>
        </span>

    </section>

</article>
